/* common */
:root {
    --white: #fff;
    --dark: #474747;
    --primary: #c3cbd7;
    --secondary: #e3edf7;
}

html {
    font-size: 10px;
    font-family: 'Pretendard', sans-serif;
    background: #ffead6;
    background: linear-gradient(356deg, #ffead6 0%, #eaf3ff 35%, #c3cbd7 100%);
}

button {
    padding: 0;
    border: none;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.screen-out {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

/* layout */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#app {
    display: flex;
    width: 80%;
    min-width: 500px;
    height: 500px;
    border-radius: 4px;
    box-shadow: 3px 7px 27px -6px rgba(0, 0, 0, 0.7);
    background-color: var(--white);
    overflow: hidden;
}

.title {
    font-size: 2.8rem;
    font-weight: 700;
}

.side-cont {
    width: 250px;
    flex: 0 0 auto;
    padding: 20px 16px;
    overflow-y: auto;
}

.side-cont::-webkit-scrollbar {
    width: 10px;
}

.side-cont::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 50px;
    background: var(--primary);
    background-clip: padding-box;
}

.side-cont::-webkit-scrollbar-track {
    margin: 5px 0;
    background: transparent;
}

.side-cont .restaurant-list {
    margin-top: 16px;
}

.side-cont .restaurant-list li + li {
    margin-top: 8px;
}

.side-cont .restaurant-list button {
    display: grid;
    grid-template-columns: 44px 1fr;
    width: 100%;
    padding: 8px;
    text-align: left;
}

.side-cont .restaurant-list button:hover {
    background-color: var(--secondary);
}

.side-cont .restaurant-list button.is-active {
    background-color: var(--secondary);
}

.side-cont .restaurant-item span {
    grid-row: 1 / 3;
    line-height: 1.8rem;
    font-size: 1rem;
    font-weight: 700;
}

.side-cont .restaurant-item strong {
    font-size: 1.8rem;
}

.side-cont .restaurant-item p {
    margin-top: 8px;
    font-size: 1.2rem;
    word-break: keep-all;
}

.side-cont .restaurant-pagination {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 16px;
}

.side-cont .restaurant-pagination .num-list {
    display: flex;
}

.side-cont .restaurant-pagination .num-list button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.side-cont .restaurant-pagination .num-list button:hover {
    font-weight: 700;
}

.side-cont .restaurant-pagination .num-list button.is-active {
    color: var(--white);
    background-color: var(--dark);
}

.map-cont {
    height: 100%;
    width: 100%;
}

.iw-inner {
    max-width: 200px;
    padding: 4px;
}

.iw-inner .iw-title {
    font-size: 1.6rem;
    font-weight: 700;
}

.iw-inner .iw-desc {
    margin-top: 4px;
    font-size: 1.2rem;
}
